# Binaries for programs and plugins (Go)
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`  (Go)
*.test

# Output of the go coverage tool, specifically when used with LiteIDE  (Go)
*.out

# Dependency directories (remove the comment below to include it)
vendor/
.idea
